@media (max-width: 1365px){
    .nav-link{
        font-size: 1.4vw;
    }
    .main-title{
        font-size: 3.5vw;
    }
    .main-subtitle{
        font-size: 1.4vw;
    }
    .wrapper-one h2{
        font-size: 2.5vw;
    }
    .wrapper-three-section h3{
        font-size: 1.3vw;
        line-height: 30px;
    }
    .wrapper-three-section{
        height: 55vh;
    }
    .wrapper-seven img{
        width: 45vw;
    }
    input{
        width: 30vw;
    }
    #course-select{
        width: 30vw;
    }
}
