@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*font-family: 'Bebas Neue', cursive;
font-family: 'Raleway', sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(./img/kazahstan.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  z-index: 1000;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". header-nav .";
  grid-template-rows: 50px;
  align-items: center;
  justify-content: center;
}

.header-nav {
  display: grid;
  grid-area: header-nav;
  grid-template-columns: repeat(4, auto);
}

.header-nav a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #fafafa;
  text-shadow: 2px 2px 2px #000;
  transition: 0.3s linear;
}

.header-nav a:hover {
  color: #920606;
  text-decoration: underline #920606;
}

.top-text {
  color: #fafafa;
  text-shadow: 2px 2px 2px #000;
}

.main-text {
  font-size: 150px;
  letter-spacing: 5px;
  font-family: "Bebas Neue", cursive;
  text-shadow: #000;
}

.main-text-sub {
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  cursor: pointer;
}

.position-all {
  color: gray;
  transition: 0.4s linear;
  max-width: 500px;
  max-height: 200px;
}

.first {
  margin-left: 250px;
  margin-bottom: 35px;
  opacity: 0;
  animation: smoke 1s linear forwards;
  animation-delay: 0.5s;
}

@keyframes smoke {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
  }
}

.first:hover {
  color: #fafafa;
}

.second {
  margin-left: 1150px;
  margin-top: -127px;
  opacity: 0;
  animation: smoke1 1s linear forwards;
  animation-delay: 1s;
}
@keyframes smoke1 {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
  }
}

.second:hover {
  color: #fafafa;
}

.third {
  margin-left: 327px;
  margin-top: -70px;
  transition: 0.6s linear;
  max-width: 500px;
  opacity: 0;
  animation: smoke3 1s linear forwards;
  animation-delay: 1.5s;
}
@keyframes smoke3 {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
  }
}

.third:hover {
  color: #fafafa;
}

.four {
  margin-left: 500px;
  margin-top: -110px;
  opacity: 0;
  animation: smoke4 1s linear forwards;
  animation-delay: 2s;
}
@keyframes smoke4 {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
  }
}

.four:hover {
  color: #fafafa;
}

.five {
  margin-left: 1200px;
  margin-top: -20px;
  opacity: 0;
  animation: smoke5 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes smoke5 {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
  }
}

.five:hover {
  color: #fafafa;
}

.six {
  margin-left: 1000px;
  margin-top: -75px;
  opacity: 0;
  animation: smoke6 1s linear forwards;
  animation-delay: 3s;
}
@keyframes smoke6 {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
  }
}

.six:hover {
  color: #fafafa;
}

.second-part {
  height: 900px;
  max-width: 100%;
  width: 100%;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(./img/background.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tours {
  font-family: "Bebas Neue", cursive;
  font-size: 150px;
  margin-left: 200px;
  color: black;
  width: 300px;
}
