@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    text-decoration: none;
    color: #fff;
    scroll-behavior: smooth;
}

body {
background-color: #000;
    
}

.logo{
font-weight: 800;
font-size: 1.5vw;
margin-left: 40px;
}

.header-top{
height: 64px;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav-link{
    font-size: 1vw;
}



.nav-link:nth-child(2){
    margin: 0px 30px;
    width: 1vw;
    height: 40px;
    border-radius: 6px;
    padding: 8px 18px;
    background-color: #ffffff47;
}

.nav-link:nth-child(2):hover {
    background-color: #6d6d6d;
}

.container{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.wrapper{
    margin-top: -150px;
}

.main-title{
    font-size: 3vw;
    font-weight: 600;
    margin-left: 200px;
}

.main-img{
    max-width: 30vw;
    margin-right: 200px;
    margin-top: -100px;
}

.main-subtitle{
    margin-left: 220px;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 30px;
}

.sub-button{
    background-color: #00c1ff;
    margin-left: 200px;
    padding: 13px 28px 15px;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
}

.sub-button:hover{
    background-color: #84e0ff;
}

.subtitle{
    font-size: 4vw;
    font-weight: 600;
    line-height: 60px;
    margin-left: 200px;
}

.problem-wrapper{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.problem-section{
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 53px;
    width: 30vw;
    height: 36vw;
    position: relative;

}

.problem-section h2{
    font-size: 2vw;
    margin-bottom: 20px;
    font-weight: 600;
}

.problem-img{
    width: 80%;
    position: absolute;
    bottom: 20px;
    left: auto;
    right: auto;
}

.problem-section p{
    font-size: 1.2vw;
    margin-bottom: 80px;
}

.analise-main{
    width: 90%;
    height: 15vw;
    background-color: #fff;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
}

.analise-title {
    color: #000;
    font-size: 2.3vw;
    font-weight: 600;
}

.wrapper-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-one img{
    width: 50vw;
}

.wrapper-one h2{
    font-size: 3vw;
    font-weight: 600;
    padding-bottom: 40px;
}

.wrapper-one p{
    font-size: 1.5vw;
    font-weight: 400;
}

.one-text{
    padding: 150px;
}

.wrapper-two{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.wrapper-two-text h2{
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 70px;
}

.wrapper-two-img{
    width: 30vw;
    margin-left: 100px;
}

.sub-button-two{
    background-color: #00c1ff;
    padding: 13px 28px 15px;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
}

.section-title{
    font-size: 3.3vw;
    font-weight: 500;
    text-align: center;
    margin-top: 200px;
}

.wrapper-three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.wrapper-three-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    width: 1vw;
    height: 65vh;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 55px;
    position: relative;
}

.wrapper-three-section:nth-child(1){
    margin-left: 100px;
}

.wrapper-three-section:nth-child(3){
    margin-right: 100px;
}

.wrapper-three-section h2{
    font-size: 2.3vw;
    font-weight: 500;
    margin-bottom: 30px;
}

.wrapper-three-section h3{
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 50px;
}

.wrapper-three-section p{
    font-size: 1.2vw;
}

.wrapper-three-button{
    width: 80%;
    height: 6vh;
    background-color: #00c1ff;
    font-size: 2vw;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 5%;
    padding-top: 5px;
}

.wrapper-three-button:hover{
    background-color: #FFAE29;
}

.wrapper-three-section span{
    color: #00c1ff;
}

.wrapper-four{
    display: flex;
    margin-top: 200px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.wrapper-four-text h2{
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 70px;
}

.wrapper-four-img{
    width: 30vw;
    margin-left: 100px;
}

.sub-button-four{
    background-color: #00c1ff;
    padding: 13px 28px 15px;
    font-size: 1.3vw;
    text-align: center;
    border-radius: 6px;
}

.section-title-two{
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.wrapper-five{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-five-section{
    width: 20vw;
    height: 284px;
    padding: 32px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.white{
    background-color: #fff;
}

.black{
    background-color: #000;
}

.black-text{
    color: #000;
}

.wrapper-five-section h2{
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 20px;
}

.wrapper-five-section p{
    font-size: 1.3vw;
    letter-spacing: 0.5px;
}

.wrapper-six{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
    height: 322px;
    background-image: linear-gradient(139deg, rgba(217, 182, 255, 0) 0%, rgb(217, 182, 255) 70%, rgb(172, 230, 255) 100%);
    margin: 100px auto;
    padding: 55px;
    border-radius: 25px;
    position: relative;

}

.wrapper-six-text h2{
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 20px;
}

.nav-list{
    font-size: 1.6vw;
    letter-spacing: 0px;
    font-weight: 600;
}


.wrapper-six-img{
    width: 15vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.form{
    display: flex;
    flex-direction:column;
    width: 20vw;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 10px;   
}

.form-btn{
    background-color: #00c1ff;
    padding: 13px 28px 15px;
    font-size: 1.3vw;
    text-align: center;
    border-radius: 15px;
}

.wrapper-seven{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.wrapper-seven img{
    width: 50vw;
}

#course-select{
    color: #000;
    width: 20vw;
    padding: 13px 26px 15px;
    font-size: 24px;
    border-radius: 15px;
}

#course-select::placeholder{
    color: #9EA3a7
}

#course-select option{
    color: #000;
}

.form span{
    font-size: 1vw;
}

input{
    width: 20vw;
    border-radius: 15px;
    padding: 13px 22px 15px;
    font-size: 24px;
    color: #000;
}

